/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#main{
    -fx-background-image: url("/images/grass_template2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover, auto;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#maze {
	-fx-border-width: 2;
	-fx-border-color: rgb(0,100,0);
}