<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.mazerunner" android:versionCode="1" android:versionName="0.2">
	<supports-screens android:xlargeScreens="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16"/>
	<application android:icon="@mipmap/ic_launcher" android:label="MazeRunner" android:name="android.support.multidex.MultiDexApplication" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
		<activity android:name="javafxports.android.FXActivity" android:label="MazeRunner" android:configChanges="orientation|screenSize" android:screenOrientation="sensorLandscape">
			<meta-data android:name="main.class" android:value="org.mazerunner.Launcher"/>
			<meta-data android:name="debug.port" android:value="0"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

	</application>
</manifest>
